body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-family:sans-serif;
}

input:focus{
  outline: none;
}

#clock{
  position: absolute;
  top: 10px;
  right: 50px;
  color: white;
  font-family: Playfair Display;
  font-size: 25px;
  font-weight: bold;
}

.main-container{
  box-sizing: inherit;
  background-color: #4E4FEB;    
  box-shadow: 0 0 15px 3px rgb(65, 65, 65);
  border-radius: 30px 30px 0 0;
  margin: 60px auto;
  width: 600px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  width: 100%;
  height: 40%;
  border-radius: 30px 30px 0 0;
  background-color: #000000;
}

.avatar-upload{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  margin: 20px 0 0;
  position: relative;
}

#Avatar{
  color: white;
  background-size: cover;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.bottom-header{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#filter-todos{
  height: 23px;
  font-weight: bold;
  box-sizing: inherit;
  padding: 5px;
}

main{
  box-sizing: inherit;
  width: 100%;
  overflow-y: scroll;
}

.completed{
  text-decoration: line-through;
  opacity: 0.5;
}

.label{
  font-size: 35px;
}

#todo-form{
  display: flex;
  justify-content: space-between;
}

#todo-input{
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 8px 0 0 8px;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 20px;
}

#add-todo{
  height: 40px;
  width: 45px;
  background-color: #068FFF;
  font-weight: bold;
  border-radius: 0 8px 8px 0;
  border: none;
}

ul{
  padding: 0;
}

li{
  background-color: #EEEEEE;
  list-style-type: none;
  margin: 7px 0;
  box-sizing:border-box;
  padding: 1px;
  border: 1px solid black;
  border-radius: 20px;
  width: 90%;
}

.todo{
  height: 40px;
}

.todo-cart{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 36px;
}

.todo-cart.right{
  width: 70%;
}

.todo-cart-left{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}
.todo__check , .todo__remove , .todo__edit{
  cursor: pointer;
  border: none;
  font-size: 20px;
}
.todo__check{
  color: blueviolet;
}

.todo__remove{
  color: red;
}

.todo__edit{
  color: orange;
}

.todoList{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo__title{
  text-align :center;
  margin: 0;
  font-size: 20px;
  letter-spacing: 1px;
}


#add-todo:hover{
  background-color: #176B87;
  cursor: pointer;
}

button > i {
  pointer-events: none;
}